
.toast {
    position: fixed;
    top: 16px;
    right: 16px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.toast-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.toast-exit {
    opacity: 1;
    transform: translateY(0);
}

.toast-exit-active {
    opacity: 0;
    transform: translateY(-20px);
}
